customer-care-workflow.json
{
  "name": "Customer Care Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "customer-care-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "priority-check",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "priority-router",
      "name": "Priority Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "create",
        "additionalFields": {
          "subject": "={{ $json.subject }}",
          "description": "={{ $json.description }}",
          "priority": "={{ $json.priority }}",
          "status": "new",
          "requester_id": "={{ $json.customer_id }}",
          "tags": "={{ $json.tags }}"
        }
      },
      "id": "create-ticket",
      "name": "Create Ticket",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "create",
        "additionalFields": {
          "subject": "URGENT: {{ $json.subject }}",
          "description": "={{ $json.description }}\n\nPriority: HIGH\nCustomer ID: {{ $json.customer_id }}",
          "priority": "urgent",
          "status": "new",
          "requester_id": "={{ $json.customer_id }}",
          "tags": "={{ $json.tags }},urgent,escalation"
        }
      },
      "id": "create-urgent-ticket",
      "name": "Create Urgent Ticket",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "get",
        "userId": "={{ $json.requester_id }}"
      },
      "id": "get-customer-info",
      "name": "Get Customer Info",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "get",
        "userId": "={{ $json.requester_id }}"
      },
      "id": "get-urgent-customer-info",
      "name": "Get Urgent Customer Info",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "vip-check",
              "leftValue": "={{ $json.user.organization_id }}",
              "rightValue": "vip",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "vip-router",
      "name": "VIP Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "vip-check-urgent",
              "leftValue": "={{ $json.user.organization_id }}",
              "rightValue": "vip",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "vip-router-urgent",
      "name": "VIP Router Urgent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "update",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "assignee_id": "vip-agent-1",
          "priority": "high",
          "tags": "={{ $json.tags }},vip"
        }
      },
      "id": "assign-vip-agent",
      "name": "Assign VIP Agent",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "update",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "assignee_id": "senior-agent-1",
          "priority": "urgent",
          "tags": "={{ $json.tags }},vip,urgent"
        }
      },
      "id": "assign-senior-vip-agent",
      "name": "Assign Senior VIP Agent",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "update",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "assignee_id": "general-agent-1",
          "tags": "={{ $json.tags }},auto-assigned"
        }
      },
      "id": "assign-general-agent",
      "name": "Assign General Agent",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "update",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "assignee_id": "senior-agent-2",
          "priority": "urgent",
          "tags": "={{ $json.tags }},urgent,auto-assigned"
        }
      },
      "id": "assign-senior-agent",
      "name": "Assign Senior Agent",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1340, 700]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "createComment",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "body": "Ticket automatically created and assigned. Our team will review your request shortly.\n\nTicket ID: {{ $json.id }}\nPriority: {{ $json.priority }}\nAssigned to: {{ $json.assignee_id }}"
        }
      },
      "id": "add-auto-comment",
      "name": "Add Auto Comment",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "createComment",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "body": "URGENT TICKET: This ticket has been automatically escalated due to high priority. A senior agent has been assigned.\n\nTicket ID: {{ $json.id }}\nPriority: {{ $json.priority }}\nAssigned to: {{ $json.assignee_id }}"
        }
      },
      "id": "add-urgent-comment",
      "name": "Add Urgent Comment",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "createComment",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "body": "VIP CUSTOMER: This ticket has been assigned to a VIP specialist.\n\nTicket ID: {{ $json.id }}\nPriority: {{ $json.priority }}\nAssigned to: {{ $json.assignee_id }}"
        }
      },
      "id": "add-vip-comment",
      "name": "Add VIP Comment",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1560, 600]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "createComment",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "body": "URGENT VIP TICKET: This ticket has been automatically escalated and assigned to a senior VIP specialist.\n\nTicket ID: {{ $json.id }}\nPriority: {{ $json.priority }}\nAssigned to: {{ $json.assignee_id }}"
        }
      },
      "id": "add-urgent-vip-comment",
      "name": "Add Urgent VIP Comment",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1560, 800]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "createComment",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "body": "Ticket assigned to general support team.\n\nTicket ID: {{ $json.id }}\nPriority: {{ $json.priority }}\nAssigned to: {{ $json.assignee_id }}"
        }
      },
      "id": "add-general-comment",
      "name": "Add General Comment",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1560, 1000]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "createComment",
        "ticketId": "={{ $json.id }}",
        "additionalFields": {
          "body": "URGENT TICKET: Assigned to senior support team.\n\nTicket ID: {{ $json.id }}\nPriority: {{ $json.priority }}\nAssigned to: {{ $json.assignee_id }}"
        }
      },
      "id": "add-senior-comment",
      "name": "Add Senior Comment",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1560, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "New ticket created: {{ $json.subject }}\nPriority: {{ $json.priority }}\nTicket ID: {{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 URGENT TICKET CREATED: {{ $json.subject }}\nPriority: {{ $json.priority }}\nTicket ID: {{ $json.id }}\nRequires immediate attention!"
            }
          ]
        },
        "options": {}
      },
      "id": "urgent-slack-notification",
      "name": "Urgent Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "👑 VIP TICKET: {{ $json.subject }}\nPriority: {{ $json.priority }}\nTicket ID: {{ $json.id }}\nAssigned to VIP specialist"
            }
          ]
        },
        "options": {}
      },
      "id": "vip-slack-notification",
      "name": "VIP Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1780, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨👑 URGENT VIP TICKET: {{ $json.subject }}\nPriority: {{ $json.priority }}\nTicket ID: {{ $json.id }}\nAssigned to senior VIP specialist - IMMEDIATE ACTION REQUIRED!"
            }
          ]
        },
        "options": {}
      },
      "id": "urgent-vip-slack-notification",
      "name": "Urgent VIP Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1780, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "📋 General Ticket: {{ $json.subject }}\nPriority: {{ $json.priority }}\nTicket ID: {{ $json.id }}\nAssigned to general support"
            }
          ]
        },
        "options": {}
      },
      "id": "general-slack-notification",
      "name": "General Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1780, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 URGENT TICKET: {{ $json.subject }}\nPriority: {{ $json.priority }}\nTicket ID: {{ $json.id }}\nAssigned to senior support team"
            }
          ]
        },
        "options": {}
      },
      "id": "senior-slack-notification",
      "name": "Senior Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1780, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.emailjs.com/api/v1.0/email/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_id",
              "value": "your_email_service_id"
            },
            {
              "name": "template_id",
              "value": "ticket_confirmation_template"
            },
            {
              "name": "user_id",
              "value": "your_user_id"
            },
            {
              "name": "template_params",
              "value": "{\"ticket_id\": \"{{ $json.id }}\", \"subject\": \"{{ $json.subject }}\", \"priority\": \"{{ $json.priority }}\", \"customer_email\": \"{{ $json.requester.email }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email-confirmation",
      "name": "Send Email Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.emailjs.com/api/v1.0/email/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_id",
              "value": "your_email_service_id"
            },
            {
              "name": "template_id",
              "value": "urgent_ticket_template"
            },
            {
              "name": "user_id",
              "value": "your_user_id"
            },
            {
              "name": "template_params",
              "value": "{\"ticket_id\": \"{{ $json.id }}\", \"subject\": \"{{ $json.subject }}\", \"priority\": \"{{ $json.priority }}\", \"customer_email\": \"{{ $json.requester.email }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-urgent-email",
      "name": "Send Urgent Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.emailjs.com/api/v1.0/email/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_id",
              "value": "your_email_service_id"
            },
            {
              "name": "template_id",
              "value": "vip_ticket_template"
            },
            {
              "name": "user_id",
              "value": "your_user_id"
            },
            {
              "name": "template_params",
              "value": "{\"ticket_id\": \"{{ $json.id }}\", \"subject\": \"{{ $json.subject }}\", \"priority\": \"{{ $json.priority }}\", \"customer_email\": \"{{ $json.requester.email }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-vip-email",
      "name": "Send VIP Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.emailjs.com/api/v1.0/email/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_id",
              "value": "your_email_service_id"
            },
            {
              "name": "template_id",
              "value": "urgent_vip_ticket_template"
            },
            {
              "name": "user_id",
              "value": "your_user_id"
            },
            {
              "name": "template_params",
              "value": "{\"ticket_id\": \"{{ $json.id }}\", \"subject\": \"{{ $json.subject }}\", \"priority\": \"{{ $json.priority }}\", \"customer_email\": \"{{ $json.requester.email }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-urgent-vip-email",
      "name": "Send Urgent VIP Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.emailjs.com/api/v1.0/email/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_id",
              "value": "your_email_service_id"
            },
            {
              "name": "template_id",
              "value": "general_ticket_template"
            },
            {
              "name": "user_id",
              "value": "your_user_id"
            },
            {
              "name": "template_params",
              "value": "{\"ticket_id\": \"{{ $json.id }}\", \"subject\": \"{{ $json.subject }}\", \"priority\": \"{{ $json.priority }}\", \"customer_email\": \"{{ $json.requester.email }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-general-email",
      "name": "Send General Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.emailjs.com/api/v1.0/email/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_id",
              "value": "your_email_service_id"
            },
            {
              "name": "template_id",
              "value": "urgent_ticket_template"
            },
            {
              "name": "user_id",
              "value": "your_user_id"
            },
            {
              "name": "template_params",
              "value": "{\"ticket_id\": \"{{ $json.id }}\", \"subject\": \"{{ $json.subject }}\", \"priority\": \"{{ $json.priority }}\", \"customer_email\": \"{{ $json.requester.email }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-senior-email",
      "name": "Send Senior Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 1200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Ticket processed successfully\",\n  \"ticket_id\": \"{{ $json.id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"assigned_to\": \"{{ $json.assignee_id }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Urgent ticket processed successfully\",\n  \"ticket_id\": \"{{ $json.id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"assigned_to\": \"{{ $json.assignee_id }}\"\n}"
      },
      "id": "urgent-success-response",
      "name": "Urgent Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"VIP ticket processed successfully\",\n  \"ticket_id\": \"{{ $json.id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"assigned_to\": \"{{ $json.assignee_id }}\"\n}"
      },
      "id": "vip-success-response",
      "name": "VIP Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Urgent VIP ticket processed successfully\",\n  \"ticket_id\": \"{{ $json.id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"assigned_to\": \"{{ $json.assignee_id }}\"\n}"
      },
      "id": "urgent-vip-success-response",
      "name": "Urgent VIP Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 800]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"General ticket processed successfully\",\n  \"ticket_id\": \"{{ $json.id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"assigned_to\": \"{{ $json.assignee_id }}\"\n}"
      },
      "id": "general-success-response",
      "name": "General Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Urgent ticket assigned to senior team\",\n  \"ticket_id\": \"{{ $json.id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"assigned_to\": \"{{ $json.assignee_id }}\"\n}"
      },
      "id": "senior-success-response",
      "name": "Senior Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 1200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Priority Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Router": {
      "main": [
        [
          {
            "node": "Create Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Urgent Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "main": [
        [
          {
            "node": "Get Customer Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Urgent Ticket": {
      "main": [
        [
          {
            "node": "Get Urgent Customer Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Info": {
      "main": [
        [
          {
            "node": "VIP Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Urgent Customer Info": {
      "main": [
        [
          {
            "node": "VIP Router Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIP Router": {
      "main": [
        [
          {
            "node": "Assign VIP Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign General Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIP Router Urgent": {
      "main": [
        [
          {
            "node": "Assign Senior VIP Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign Senior Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign VIP Agent": {
      "main": [
        [
          {
            "node": "Add VIP Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Senior VIP Agent": {
      "main": [
        [
          {
            "node": "Add Urgent VIP Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign General Agent": {
      "main": [
        [
          {
            "node": "Add Auto Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Senior Agent": {
      "main": [
        [
          {
            "node": "Add Senior Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Auto Comment": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Urgent Comment": {
      "main": [
        [
          {
            "node": "Urgent Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add VIP Comment": {
      "main": [
        [
          {
            "node": "VIP Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Urgent VIP Comment": {
      "main": [
        [
          {
            "node": "Urgent VIP Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add General Comment": {
      "main": [
        [
          {
            "node": "General Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Senior Comment": {
      "main": [
        [
          {
            "node": "Senior Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Send Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgent Slack Notification": {
      "main": [
        [
          {
            "node": "Send Urgent Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIP Slack Notification": {
      "main": [
        [
          {
            "node": "Send VIP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgent VIP Slack Notification": {
      "main": [
        [
          {
            "node": "Send Urgent VIP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Slack Notification": {
      "main": [
        [
          {
            "node": "Send General Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Senior Slack Notification": {
      "main": [
        [
          {
            "node": "Send Senior Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Confirmation": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Urgent Email": {
      "main": [
        [
          {
            "node": "Urgent Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VIP Email": {
      "main": [
        [
          {
            "node": "VIP Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Urgent VIP Email": {
      "main": [
        [
          {
            "node": "Urgent VIP Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send General Email": {
      "main": [
        [
          {
            "node": "General Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Senior Email": {
      "main": [
        [
          {
            "node": "Senior Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "customer-care",
      "name": "Customer Care"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 